input.desktop[type=checkbox]{
    border: 0.125em solid #ffffff;
    cursor: pointer;
    height: 2em;
    width: 2em;
    padding: 0.85em;
}

input.desktop[type=checkbox]:checked {
    background-color: #ffffff;
}

#player-search-input{
    background-color: transparent;
    border: 0.1em solid #343434;
    color: white;
    padding: 0.1em;
}


/*disabling this behaviour for the game canvas because the game is handling it by it self*/
.always-show-game-cursor *:not(#game\/main\/screen):not(#game\/main\/screen *):not(input):not(button):not(a){
    cursor: url(./res/images/cursors/default.png), default;
}

.always-show-game-cursor input{
    cursor: auto !important;
}

.always-show-game-cursor button, 
.always-show-game-cursor a,
.always-show-game-cursor #chat-tabs li,
.always-show-game-cursor #chat-buttons img,
.always-show-game-cursor #discord-integration span,
.always-show-game-cursor #chat-sub p,
.always-show-game-cursor input[type=checkbox], 
.always-show-game-cursor input[type=submit], 
.always-show-game-cursor input[type=range]{
    cursor: url(desktopmmo://assets/images/old/pointer.png)7 2, pointer !important;
}


#unpin{
    background-image: url(desktopmmo://assets/images/unpin.png);
    background-color: transparent;
    background-size: contain;
    border: none;
    display: block;
    width: 2em;
    height: 2em;
    padding: 0;
    cursor: url(./images/template/cursors/pointer.png) 7 2, pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

@media (min-aspect-ratio: 1 / 1){
    #desktop-chat-container {
        width: calc(90% - .2em);
    }
}

@media (max-aspect-ratio: 1 / 1){
    #desktop-chat-container {
        width: calc(95% - .2em);
    }
}



#desktop-chat-container{
    border: 0.1em solid #343434;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#game-container.active #chat-container:not(.chat) #desktop-chat-container{
    display: none;
}

#chat-box{
    width: 100% !important;
    border: none !important;
    box-sizing: border-box;
}

#jump-down-button{
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-image: url(desktopmmo://assets/images/downArrow.png);
    background-color: black;
    background-size: contain;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    width: 2em;
    height: 2em;
    padding: 0;
}
