input.desktop[type=checkbox]{
    border: 0.125em solid #ffffff;
    cursor: pointer;
    height: 2em;
    width: 2em;
    padding: 0.85em;
}

input.desktop[type=checkbox]:checked {
    background-color: #ffffff;
}

/*disabling this behaviour for the game canvas because the game is handling it by it self*/
.always-show-game-cursor *:not(#game\/main\/screen):not(#game\/main\/screen *):not(input):not(button):not(a){
    cursor: url(../../images/template/cursors/default.png), default !important;
}

.always-show-game-cursor input{
    cursor: auto !important;
}

.always-show-game-cursor button, 
.always-show-game-cursor a,
.always-show-game-cursor input[type=checkbox], 
.always-show-game-cursor input[type=submit], 
.always-show-game-cursor input[type=range],
#game\/sidebar\/content\/players\/list#game\/sidebar\/content\/players\/list#game\/sidebar\/content\/players\/list p,
#game\/sidebar\/content\/players\/list#game\/sidebar\/content\/players\/list#game\/sidebar\/content\/players\/list p *{
    cursor: url(../../images/template/cursors/pointer.png) 7 2, pointer !important;
}



#unpin{
    background-image: url(desktopmmo://assets/images/unpin.png);
    background-color: transparent;
    background-size: contain;
    border: none;
    display: block;
    width: 2em;
    height: 2em;
    padding: 0;
    cursor: url(./images/template/cursors/pointer.png) 7 2, pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#desktop-chat-container{
    position: relative;
    overflow: hidden;
    flex: 1 1 0;
    border: 1px solid #343434;
}

#game\/sidebar\/content\/chat\/box{
    height: 100%;
    border: none !important;
}

#jump-down-button{
    position: absolute;
    bottom: 1em;
    left: 1em;
    background-image: url(desktopmmo://assets/images/downArrow.png);
    background-color: black;
    background-size: contain;
    border: 2px solid white;
    border-radius: 50%;
    display: block;
    width: 2em;
    height: 2em;
    padding: 0;
}


#game\/sidebar\/content\/players\/box{
    display: flex;
    flex-direction: column;
}

#player-search-input{
    background-color: transparent;
    border: 1px solid #343434;
    color: #ffffff;
    padding: 0.1em;
}



#player-data{
    max-height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #343434;
    padding-bottom: .3em;
    text-align: center;
    width: calc(100% - 1em);
    margin-left: .5em;
}

#game\/sidebar\/content\/players\/list p.selected{
    border-top: 1px solid #343434;
}

#game\/sidebar\/content\/players\/list{
    width: 100%;
}